@charset "UTF-8";
html,
body,
div,
span,
ul,
li,
p,
h1,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: "Helvetica", Microsoft JhengHei;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

[v-cloak] {
  display: none;
}

#app {
  margin-top: 80px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 350px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2eb738;
  margin: 30px 0;
}

.header .header-line {
  display: block;
  height: 0.9px;
  width: 282px;
  font-size: 24px;
  position: relative;
  background-color: #2eb738;
}

.header .header-line::after {
  position: absolute;
  content: "×";
  left: -30px;
  top: -13px;
}

.header .header-line::before {
  position: absolute;
  content: "×";
  right: -30px;
  top: -13px;
}

.header .header-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
}

.header .header-content span {
  font-size: 24px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 366px;
  margin: 10px 0 30px 0;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 10%;
  padding: 60px 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 3px 10px #d8d8d8;
          box-shadow: 0px 3px 10px #d8d8d8;
  background-color: white;
}

.card .card-title {
  font-size: 128px;
  font-weight: bold;
  margin-bottom: 120px;
  color: #2eb738;
  text-shadow: 2px 2px white, 6px 4px #f0f0f0;
  text-align: center;
  position: relative;
}

.card .card-title > span {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
}

.card .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 100px;
      -ms-flex-positive: 100px;
          flex-grow: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5rem;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.card li {
  color: #2eb738;
  letter-spacing: 0.5px;
  line-height: 40px;
}

footer {
  background-color: #2eb738;
  line-height: 34px;
  text-align: right;
  color: white;
  margin-top: 80px;
}

footer p {
  font-size: 16px;
}

footer .container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1100px) {
  .header {
    margin: 20px 15px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    margin: 0px 15px 30px 15px;
  }
  footer {
    text-align: center;
    padding: 15px 0;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  .header {
    margin: 30px 0px;
  }
  .header .header-line {
    width: 80%;
  }
  .card {
    width: 90%;
    margin: 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */